* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: none;
}
body,
html {
  background-image: url("../public/8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.conainer,
.header-title,
#book-form,
.form-group,
.submit-btn,
.table-container,
thead,
tr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.conainer {
  flex-direction: column;
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
  padding: 1rem;
}
.header-title {
  color: #ffc40d;
  text-align: center;
  margin: 0.5rem;
  height: auto;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
#book-icon {
  font-size: 4rem;
  color: #00ab78;
  width: fit-content;
  text-align: center;
  padding: 0.3rem 0;
}
#book-form,
.table-container {
  width: 90%;
  max-width: 90%;
  flex-direction: column;
  color: #ffc40d;
  font-size: 1rem;
  font-weight: 700;
  gap: 0.5rem;
}

.form-group {
  flex-direction: column;
}
.form-control,
.submit-btn {
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  transition: all 0.2s linear;
}
.submit-btn {
  width: 20%;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #00ab78;
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 900;
  opacity: 0.8;
  margin-bottom: 1rem;
}
.submit-btn:hover {
  opacity: 1;
}
.form-control:hover {
  background-color: #b3ffe8;
}
thead {
  background-color: #00ab78;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.tr-cart {
  font-size: 1.3rem;
  font-weight: 900;
  background-color: #013122;
  opacity: 0.5;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.2rem;
}
